<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,max-scale=1.0">
    
    <!--CSS-->
    <link rel="stylesheet" href="static/css/forms.css">

    <!--FONTE-->
    <link
    href="https://db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold" rel="stylesheet"/>

    <!--Boxicons CSS-->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!--FAVICON-->
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">

    <title>EasyNutri - Cadastro</title>
</head>

<body>
    
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="static/images/easynutri-icon.png" alt="easynutri logotipo">
                </span>

                <div class="text logo-text">
                    <span class="name">EasyNutri</span>
                    <span class="description">Comer bem faz bem</span>
                </div>
            </div>

            
        </header>
    </nav>

    <header class="greeting">
        <div class="greeting-text">
            <li>Boa tarde,</li>
            <li>seja bem vindo ao nosso app</li>
        </div>

        <div class="profile">
            <a href="#">
                <img class="profile-pic" src="static/images/profile-icon.png" alt="foto de perfil">
            </a>
        </div>
    </header>
   
    <section>
        <div class="feed-divider"></div>
        <h2 id="heading1">Cadastro</h2>

        <form class="cadastro-card" action="{% url 'listagem_usuarios' %}" method="post">
            {% csrf_token %}
            <fieldset class="cadastro-item">

                <div class="campo">
                    <label for="Nome">Nome completo</label>
                    <br>
                    <input type="text" id="nome" name="nome" required="required"/>
                </div>
                <br>

                <div class="campo">
                    <label for="cpf">CPF</label>
                    <br>
                    <input type="text" id="cpf" name="cpf" required="required"/>
                </div>
                <br>

                <div class="campo">
                    <label for="data-ride">Data de nascimento</label>
                    <br>
                    <input type="date" name="data_nascimento" id="date" required="required"/>
                </div>
                <br>

                <div class="campo">
                <label for="Telefone">Telefone</label>
                <br>

                <input type="tel" id="telefone" name="telefone" required="required"/>
                </div>
                <br>

                <div class="campo">
                <label for="Email">Email</label>
                <br>

                <input type="text" id="email" name="email" required="required"/>
                </div>
                <br>

                <div class="campo">
                    <label for="pass">Senha</label>
                    <br>
                    <input type="password" id="pass" name="senha" minlength="8" required/>
                </div>
                <br>

                <div class="campo">
                    <label for="pass">Repita a senha</label>
                    <br>
                    <input type="password" id="pass" name="conf_senha" minlength="8" required/>
                </div>
                <br>

                <div class="campo">
                <button class="button">Cadastrar</button>
                </div>
                
            </fieldset>
        </form>
    </section>

</body>