<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,max-scale=1.0">

    {% load static %}
    <!--CSS-->
    <link rel="stylesheet" href="{% static "css/forms.css" %}">

    <!--FONTE-->
    <link
    href="https://db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold" rel="stylesheet"/>

    <!--Boxicons CSS-->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!--FAVICON-->
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

    <title>EasyNutri - Login</title>
</head>

<body>

    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{% static "images/easynutri-icon.png" %}" alt="easynutri logotipo">
                </span>

                <div class="text logo-text">
                    <span class="name">EasyNutri</span>
                    <span class="description">Comer bem faz bem</span>
                </div>
            </div>
        </header>
    </nav>

    <header class="greeting">
        <div class="greeting-text">
            <li>Boa tarde,</li> 
            <li>seja bem vindo ao nosso app</li>
        </div>

        <div class="profile">
            <a href="#">
                <img class="profile-pic" src="{% static "images/profile-icon.png" %}" alt="foto de perfil">
            </a>
        </div>
    </header>
   
    <section>
        <div class="feed-divider"></div>
        <h2 id="heading1">Login</h2>

        
        <form class="login-card"  action="#" method="get">
            <fieldset class="login-item">

                <div class="campo">
                    <label for="username">Email:</label>
                    <input type="text" id="email" name="email"/>
                </div>
                <br>

                <div class="campo">
                    <label for="pass">Senha:</label>
                     <input type="password" id="pass" name="password" minlength="8" required/>
                </div>
                <br>
                
                <div class="campo">
                        <button class="button">Entrar</button>
                </div>
            </fieldset>
        </form>

        <bottom class="extra">
            <div class="info">
                <h3>Ainda não possui cadastro?</h3>
                <a href="{% url 'cadastro' %}">Cadastrar-se</a>
            </div>
        </bottom>     
    </section>          

</body>