{% extends "base.html" %}
{% block content %}

    <section>
        <div class="feed-divider"></div>

        <h2 id="heading1">Dietas</h2>

        <h3 id="heading2">Segunda-feira</h3>
        <div class="card-list">
            <a href="#" class="card-item">
                <ul class="diet">
                    <h3 class="title">Café da manhã</h3>

                    <h4 class="info">Opção 1:</h4>
                    <li>Iogurte natural com frutas e granola</li>

                    <br>
                    <h4 class="info">Opção 2:</h4>
                    <li>Mingau de aveia com frutas</li>
                </ul>
            </a>

            <a href="#" class="card-item">
                <ul class="diet">
                    <h3 class="title">Almoço</h3>

                    <h4 class="info">Opção 1:</h4>
                    <li>Salada de frango com abacate</li>
                    <br>

                    <h4 class="info">Opção 2:</h4>
                    <li>Salmão assado com legumes assados</li>
                </ul>
            </a>

            <a href="#" class="card-item">
                <ul class="diet">
                    <h3 class="title">Lanche da tarde</h3>

                    <h4 class="info">Opção 1:</h4>
                    <li>Smoothie de frutas e espinafre</li>
                    <br>

                    <h4 class="info">Opção 2:</h4>
                    <li>Maçã com pasta de amendoim</li>
                </ul>
            </a>

            <a href="#" class="card-item">
                <ul class="diet">
                    <h3 class="title">Janta</h3>

                    <h4 class="info">Opção 1:</h4>
                    <li> Espaguete de abobrinha com almôndegas de peru</li>
                    <br>

                    <h4 class="info">Opção 2:</h4>
                    <li>Salada de atum com grão-de-bico</li>
                </ul>
            </a>
        </div>

        <h3 id="heading2">Terça-feira</h3>
        <div class="card-list">
            <a href="#" class="card-item">
                <ul class="diet">
                    <h3 class="title">Café da manhã</h3>
                </ul>
            </a>

            <a href="#" class="card-item">
                <ul class="diet">
                    <h3 class="title">Almoço</h3>
                </ul>
            </a>

            <a href="#" class="card-item">
                <ul class="diet">
                    <h3 class="title">Lanche da tarde</h3>
                </ul>
            </a>

            <a href="#" class="card-item">
                <ul class="diet">
                    <h3 class="title">Janta</h3>
                </ul>
            </a>
        </div>

        <h3 id="heading2">Quarta-feira</h3>
        <div class="card-list">
            <a href="#" class="card-item">
                <ul class="diet">
                    <h3 class="title">Café da manhã</h3>
                </ul>
            </a>

            <a href="#" class="card-item">
                <ul class="diet">
                    <h3 class="title">Almoço</h3>
                </ul>
            </a>

            <a href="#" class="card-item">
                <ul class="diet">
                    <h3 class="title">Lanche da tarde</h3>
                </ul>
            </a>

            <a href="#" class="card-item">
                <ul class="diet">
                    <h3 class="title">Janta</h3>
                </ul>
            </a>
        </div>

        <h3 id="heading2">Quinta-feira</h3>
        <div class="card-list">
            <a href="#" class="card-item">
                <ul class="diet">
                    <h3 class="title">Café da manhã</h3>
                </ul>
            </a>

            <a href="#" class="card-item">
                <ul class="diet">
                    <h3 class="title">Almoço</h3>
                </ul>
            </a>

            <a href="#" class="card-item">
                <ul class="diet">
                    <h3 class="title">Lanche da tarde</h3>
                </ul>
            </a>

            <a href="#" class="card-item">
                <ul class="diet">
                    <h3 class="title">Janta</h3>
                </ul>
            </a>
        </div>

        <h3 id="heading2">Sexta-feira</h3>
        <div class="card-list">
            <a href="#" class="card-item">
                <ul class="diet">
                    <h3 class="title">Café da manhã</h3>
                </ul>
            </a>

            <a href="#" class="card-item">
                <ul class="diet">
                    <h3 class="title">Almoço</h3>
                </ul>
            </a>

            <a href="#" class="card-item">
                <ul class="diet">
                    <h3 class="title">Lanche da tarde</h3>
                </ul>
            </a>

            <a href="#" class="card-item">
                <ul class="diet">
                    <h3 class="title">Janta</h3>
                </ul>
            </a>
        </div>
    </section>

{% endblock  %} 